Import UK data

Healed data are missing - Actual cases can't be calculated

In [1]:
import pandas as pd
import glob
import os


path = os.getcwd() + "/Data/UK/covid-19-uk-data-master/data/covid-19-indicators-uk.csv"

columns = ["total_cases","daily_cases","total_dead","daily_dead", "total_test","daily_test"]

dataset = pd.read_csv(path, index_col = 0)
dataset

             Country       Indicator  Value
Date
2020-01-24  Scotland  ConfirmedCases      0
2020-01-24  Scotland          Deaths      0
2020-01-24  Scotland           Tests      2
2020-01-25  Scotland  ConfirmedCases      0
2020-01-25  Scotland          Deaths      0
...              ...             ...    ...
2020-03-24        UK  ConfirmedCases   8077
2020-03-24        UK          Deaths    422
2020-03-24        UK           Tests  90436
2020-03-24     Wales  ConfirmedCases    478
2020-03-24     Wales          Deaths     17

[474 rows x 3 columns]

Grouping by data and indicator to sum the confirmed cases, deaths and tests among different regions

In [2]:
dataset = dataset.groupby(["Date","Indicator"]).sum()

In [3]:
dataset.head(9)

                           Value
Date       Indicator
2020-01-24 ConfirmedCases      0
           Deaths              0
           Tests               2
2020-01-25 ConfirmedCases      0
           Deaths              0
           Tests              36
2020-01-26 ConfirmedCases      0
           Deaths              0
           Tests              58

Creating a new dataframe with our specific format

In [4]:
uk_dataset = pd.DataFrame(index = dataset.index.levels[0] , columns = columns)
uk_dataset.reset_index()
uk_dataset = uk_dataset.fillna(0)

uk_dataset

,total_cases,daily_cases,total_dead,daily_dead,total_test,daily_test
Date,,,,,,
2020-01-24,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0
2020-01-27,0,0,0,0,0,0
2020-01-28,0,0,0,0,0,0
...,...,...,...,...,...,...
2020-03-20,0,0,0,0,0,0
2020-03-21,0,0,0,0,0,0
2020-03-22,0,0,0,0,0,0
2020-03-23,0,0,0,0,0,0
2020-03-24,0,0,0,0,0,0

Filling the new dataframe with the avaiable data

In [5]:
from datetime import datetime, timedelta
day = []
for days in dataset.index.levels[0]:
    try:
        #from 2nd row ---- to subtract a day from the date we had to convert it to a date and then back to a string
        yesterday = (datetime.strptime(days,"%Y-%m-%d")-timedelta(days=1)).strftime("%Y-%m-%d")
        uk_dataset.loc[days]["daily_cases"] = dataset.loc[days,"ConfirmedCases"]["Value"] - dataset.loc[yesterday,"ConfirmedCases"]["Value"]
        uk_dataset.loc[days]["daily_dead"] = dataset.loc[days,"Deaths"]["Value"] - dataset.loc[yesterday,"Deaths"]["Value"]
        uk_dataset.loc[days]["daily_test"] = dataset.loc[days,"Tests"]["Value"] - dataset.loc[yesterday,"Tests"]["Value"]
    except:
        #First row
        uk_dataset.loc[days]["daily_cases"] = dataset.loc[days,"ConfirmedCases"]["Value"]
        uk_dataset.loc[days]["daily_dead"] = dataset.loc[days,"Deaths"]["Value"]
        uk_dataset.loc[days]["daily_test"] = dataset.loc[days,"Tests"]["Value"]
    finally:
        #Single row
        uk_dataset.loc[days]["total_cases"] = dataset.loc[days,"ConfirmedCases"]["Value"]
        #Missing recoveres -> uk_dataset.loc[days]["actual_cases"] =
        uk_dataset.loc[days]["total_dead"] = dataset.loc[days,"Deaths"]["Value"]
        uk_dataset.loc[days]["total_test"] = dataset.loc[days,"Tests"]["Value"]


uk_dataset

,total_cases,daily_cases,total_dead,daily_dead,total_test,daily_test
Date,,,,,,
2020-01-24,0,0,0,0,2,2
2020-01-25,0,0,0,0,36,34
2020-01-26,0,0,0,0,58,22
2020-01-27,0,0,0,0,80,22
2020-01-28,0,0,0,0,108,28
...,...,...,...,...,...,...
2020-03-20,7966,1428,187,34,76342,3303
2020-03-21,10036,2070,244,57,83263,6921
2020-03-22,11366,1330,305,61,89503,6240
2020-03-23,13300,1934,367,62,96001,6498
2020-03-24,16154,2854,460,93,103393,7392

Converting dates from String to Datetime

In [6]:
import datetime as dt

index_list = uk_dataset.index.tolist()

for i in range(len(index_list)):
    index_list[i] = dt.datetime.strptime(index_list[i], '%Y-%m-%d').date()

uk_dataset.index = index_list
uk_dataset.index.name = 'date'

uk_dataset.index[0]

datetime.date(2020, 1, 24)

In [7]:
#save data as CSV 

path = os.getcwd() + "/parsed_data/united_kingdom/"

uk_dataset.to_csv (path + "united_kingdom.csv", index = True, header=True)