In [1]:
import pandas as pd
import glob
import os

In [2]:
states = ["India","Italy","Brazil","Indonesia","South Korea","United Kingdom","United States"]

path_GDP = os.getcwd() + "/data_source/World/GDP/"
path_GDP = path_GDP.replace("/",os.path.sep)
path_Population = os.getcwd() + "/data_source/World/Population/"
path_Population = path_Population.replace("/",os.path.sep)


csv_GDP = glob.glob(path_GDP + "*.csv")
csv_Population = glob.glob(path_Population + "*.csv")

csv_Population

['/Users/andre/Desktop/University/Masters/Second year/Second semester/Data Science for business/Lezioni/4° Lezione - 1° Lab/datasciencebusiness/data/data_source/World/Population/Population.csv']

In [3]:
GDP_csv = pd.read_csv(csv_GDP[0], index_col = 0)
Population_csv = pd.read_csv(csv_Population[0], index_col = 0)

In [4]:
GDP = pd.DataFrame(columns=GDP_csv.columns)

for country in GDP_csv.index:
    if country in states:
        GDP = GDP.append(GDP_csv.loc[country])
        
        
GDP.drop(GDP.columns.difference(['2018']), 1, inplace=True)

as_list = GDP.index.tolist()

idx = as_list.index('Brazil')
as_list[idx] = 'brazil'
idx = as_list.index('India')
as_list[idx] = 'india'
idx = as_list.index('Italy')
as_list[idx] = 'italy'
idx = as_list.index('Indonesia')
as_list[idx] = 'indonesia'
idx = as_list.index('South Korea')
as_list[idx] = 'south_korea'
idx = as_list.index('United Kingdom')
as_list[idx] = 'united_kingdom'
idx = as_list.index('United States')
as_list[idx] = 'usa'


GDP.index = as_list

GDP

                        2018
brazil          1.868626e+12
united_kingdom  2.855297e+12
indonesia       1.042173e+12
india           2.718732e+12
italy           2.083864e+12
south_korea     1.619424e+12
usa             2.054434e+13

In [5]:
Population_csv.set_index('Location', inplace=True)

In [6]:
Population_csv.drop(['VarID', 'Variant', 'MidPeriod'], axis=1, inplace = True)
Population_csv = Population_csv[Population_csv.Time == 2020]

In [7]:
#Somma del totale della popolazione
temp = Population_csv.groupby(['Location']).sum()
temp["Time"] = 2020
temp["AgeGrpStart"] = 0
temp["AgeGrp"] = "0-100"

as_list = temp.index.tolist()

idx = as_list.index('Brazil')
as_list[idx] = 'brazil'
idx = as_list.index('India')
as_list[idx] = 'india'
idx = as_list.index('Italy')
as_list[idx] = 'italy'
idx = as_list.index('Indonesia')
as_list[idx] = 'indonesia'
idx = as_list.index('Republic of Korea')
as_list[idx] = 'south_korea'
idx = as_list.index('United Kingdom')
as_list[idx] = 'united_kingdom'
idx = as_list.index('United States of America')
as_list[idx] = 'usa'


temp.index = as_list

Population_csv = pd.concat([Population_csv, temp], sort=True)
Population_csv

,AgeGrp,AgeGrpSpan,AgeGrpStart,PopFemale,PopMale,PopTotal,Time
Brazil,0-4,5,0,7070.447,7404.646,14475.093,2020
Brazil,5-9,5,5,7136.977,7464.840,14601.817,2020
Brazil,10-14,5,10,7319.056,7623.386,14942.442,2020
Brazil,15-19,5,15,7964.694,8253.310,16218.004,2020
Brazil,20-24,5,20,8466.492,8685.557,17152.049,2020
...,...,...,...,...,...,...,...
indonesia,0-100,99,0,135805.760,137717.861,273523.621,2020
italy,0-100,99,0,31024.103,29437.725,60461.828,2020
south_korea,0-100,99,0,25603.329,25665.854,51269.183,2020
united_kingdom,0-100,99,0,34343.589,33542.415,67886.004,2020
usa,0-100,99,0,167216.631,163786.016,331002.647,2020

In [8]:
path_lockdown = os.getcwd() + "/data_source/world/Lockdown/lockdown.csv"
lockdown = pd.read_csv(path_lockdown, index_col = 0)

In [9]:
lockdown.drop(['Applies To', 'Exceptions', 'Implementing City', 'Implementing State/Province', 'Quantity', 'Source', 'Target city', 'Target state', 'Target country', 'Target region'], axis=1, inplace = True)

lockdown = lockdown[(lockdown.Country == "India") | (lockdown.Country == "Italy") | (lockdown.Country == "South Korea") | (lockdown.Country == "United Kingdom") | (lockdown.Country == "United States")]
lockdown = lockdown[lockdown.Keywords.notnull()]
lockdown

,Country,Date Start,Date end intended,Description of measure implemented,Keywords
ID,,,,,
578,United Kingdom,"Mar 20, 2020",NaN,"All schools, nurseries and colleges closed.","nursery school closure, school closure, univer..."
372,United Kingdom,"Mar 16, 2020",NaN,If one person in any household has a persisten...,blanket isolation - symptoms
357,United Kingdom,"Mar 16, 2020",NaN,"By the weekend, those with the most serious he...",isolation advice to elderly
356,United Kingdom,"Mar 16, 2020",NaN,Everyone should avoid gatherings with friends ...,"public announcement, social distancing"
373,United Kingdom,"Mar 14, 2020",NaN,People who are self-isolating with mild sympto...,"end of testing, testing criteria tightened"
...,...,...,...,...,...
NaN,India,"Mar 15, 2020",NaN,Indian Prime Minister Narendra Modi proposed s...,international aid
NaN,South Korea,"Mar 20, 2020",NaN,As a hospital for the general public concerned...,hospital specialisation
NaN,South Korea,"Apr 01, 2020",NaN,All arrival passengers from the world (includi...,international traveller quarantine - all count...
NaN,South Korea,"Mar 28, 2020",NaN,Arrival national passengers from Europe & US w...,special management arrangements
NaN,South Korea,"Mar 28, 2020",NaN,Violation of Self-isolation: maximum 1 year im...,compulsory isolation

In [10]:
#get path for os
path = os.getcwd() + "/parsed_data/world/"
path = path.replace("/",os.path.sep)
#save data as CSV 

GDP.to_csv(path + "GDP.csv", index = True, header=True)
Population_csv.to_csv(path + "Population.csv", index = True, header=True)
lockdown.to_csv(path + "Lockdown.csv", index = True, header=True)