In [49]:
import pandas as pd
import glob
import os

In [50]:
states = ["India","Italy","Brazil","Indonesia","South Korea","United Kingdom","United States"]

path = os.getcwd() + "/data_source/World/"
path = path.replace("/",os.path.sep)

csv = glob.glob(path + "*.csv")

print(csv[0])
print(csv[1])

/Users/andre/Desktop/University/Masters/Second year/Second semester/Data Science for business/Lezioni/4° Lezione - 1° Lab/datasciencebusiness/data/data_source/World/Population.csv
/Users/andre/Desktop/University/Masters/Second year/Second semester/Data Science for business/Lezioni/4° Lezione - 1° Lab/datasciencebusiness/data/data_source/World/GDP.csv

In [51]:
GDP_csv = pd.read_csv(csv[1], index_col = 0)
Population_csv = pd.read_csv(csv[0], index_col = 0)

In [52]:
GDP = pd.DataFrame(columns=GDP_csv.columns)

for country in GDP_csv.index:
    if country in states:
        GDP = GDP.append(GDP_csv.loc[country])
        
        
GDP.drop(GDP.columns.difference(['2018']), 1, inplace=True)

GDP

                        2018
Brazil          1.868626e+12
United Kingdom  2.855297e+12
Indonesia       1.042173e+12
India           2.718732e+12
Italy           2.083864e+12
South Korea     1.619424e+12
United States   2.054434e+13

In [53]:
Population_csv.set_index('Location', inplace=True)

In [54]:
Population_csv.drop(['VarID', 'Variant', 'MidPeriod'], axis=1, inplace = True)
Population_csv

,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
Location,,,,,,,
Brazil,1950,0-4,0,5,4532.746,4450.852,8983.598
Brazil,1950,5-9,5,5,3522.826,3489.723,7012.549
Brazil,1950,10-14,10,5,3230.429,3205.435,6435.864
Brazil,1950,15-19,15,5,2710.739,2693.802,5404.541
Brazil,1950,20-24,20,5,2514.500,2501.353,5015.853
...,...,...,...,...,...,...,...
United States of America,2020,80-84,80,5,2805.623,3655.579,6461.202
United States of America,2020,85-89,85,5,1538.659,2372.445,3911.104
United States of America,2020,90-94,90,5,703.131,1348.005,2051.136
United States of America,2020,95-99,95,5,179.003,447.633,626.636
United States of America,2020,100+,100,-1,20.792,76.312,97.104

In [55]:
#get path for os
path = os.getcwd() + "/parsed_data/world/"
path = path.replace("/",os.path.sep)
#save data as CSV 

GDP.to_csv(path + "GDP.csv", index = True, header=True)
Population_csv.to_csv(path + "Population.csv", index = True, header=True)