In [52]:
import pandas as pd
import glob
import os

In [53]:
states = ["India","Italy","Brazil","Indonesia","South Korea","United Kingdom","United States"]

path_GDP = os.getcwd() + "/data_source/World/GDP/"
path_GDP = path_GDP.replace("/",os.path.sep)
path_Population = os.getcwd() + "/data_source/World/Population/"
path_Population = path_Population.replace("/",os.path.sep)


csv_GDP = glob.glob(path_GDP + "*.csv")
csv_Population = glob.glob(path_Population + "*.csv")

csv_Population

['/Users/andre/Desktop/University/Masters/Second year/Second semester/Data Science for business/Lezioni/4° Lezione - 1° Lab/datasciencebusiness/data/data_source/World/Population/Population.csv']

In [54]:
GDP_csv = pd.read_csv(csv_GDP[0], index_col = 0)
Population_csv = pd.read_csv(csv_Population[0], index_col = 0)

In [55]:
GDP = pd.DataFrame(columns=GDP_csv.columns)

for country in GDP_csv.index:
    if country in states:
        GDP = GDP.append(GDP_csv.loc[country])
        
        
GDP.drop(GDP.columns.difference(['2018']), 1, inplace=True)

GDP

                        2018
Brazil          1.868626e+12
United Kingdom  2.855297e+12
Indonesia       1.042173e+12
India           2.718732e+12
Italy           2.083864e+12
South Korea     1.619424e+12
United States   2.054434e+13

In [56]:
Population_csv.set_index('Location', inplace=True)

In [57]:
Population_csv.drop(['VarID', 'Variant', 'MidPeriod'], axis=1, inplace = True)
Population_csv

,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
Location,,,,,,,
Brazil,1950,0-4,0,5,4532.746,4450.852,8983.598
Brazil,1950,5-9,5,5,3522.826,3489.723,7012.549
Brazil,1950,10-14,10,5,3230.429,3205.435,6435.864
Brazil,1950,15-19,15,5,2710.739,2693.802,5404.541
Brazil,1950,20-24,20,5,2514.500,2501.353,5015.853
...,...,...,...,...,...,...,...
United States of America,2020,80-84,80,5,2805.623,3655.579,6461.202
United States of America,2020,85-89,85,5,1538.659,2372.445,3911.104
United States of America,2020,90-94,90,5,703.131,1348.005,2051.136
United States of America,2020,95-99,95,5,179.003,447.633,626.636
United States of America,2020,100+,100,-1,20.792,76.312,97.104

In [60]:
path_lockdown = os.getcwd() + "/data_source/world/Lockdown/lockdown.csv"
lockdown = pd.read_csv(path_lockdown, index_col = 0)

In [61]:
lockdown.drop(['Applies To', 'Exceptions', 'Implementing City', 'Implementing State/Province', 'Quantity', 'Source', 'Target city', 'Target state', 'Target country', 'Target region'], axis=1, inplace = True)

lockdown = lockdown[(lockdown.Country == "India") | (lockdown.Country == "Italy") | (lockdown.Country == "South Korea") | (lockdown.Country == "United Kingdom") | (lockdown.Country == "United States")]
lockdown = lockdown[lockdown.Keywords.notnull()]
lockdown

,Country,Date Start,Date end intended,Description of measure implemented,Keywords
ID,,,,,
578,United Kingdom,"Mar 20, 2020",NaN,"All schools, nurseries and colleges closed.","nursery school closure, school closure, univer..."
372,United Kingdom,"Mar 16, 2020",NaN,If one person in any household has a persisten...,blanket isolation - symptoms
357,United Kingdom,"Mar 16, 2020",NaN,"By the weekend, those with the most serious he...",isolation advice to elderly
356,United Kingdom,"Mar 16, 2020",NaN,Everyone should avoid gatherings with friends ...,"public announcement, social distancing"
373,United Kingdom,"Mar 14, 2020",NaN,People who are self-isolating with mild sympto...,"end of testing, testing criteria tightened"
...,...,...,...,...,...
NaN,India,"Mar 15, 2020",NaN,Indian Prime Minister Narendra Modi proposed s...,international aid
NaN,South Korea,"Mar 20, 2020",NaN,As a hospital for the general public concerned...,hospital specialisation
NaN,South Korea,"Apr 01, 2020",NaN,All arrival passengers from the world (includi...,international traveller quarantine - all count...
NaN,South Korea,"Mar 28, 2020",NaN,Arrival national passengers from Europe & US w...,special management arrangements
NaN,South Korea,"Mar 28, 2020",NaN,Violation of Self-isolation: maximum 1 year im...,compulsory isolation

In [62]:
#get path for os
path = os.getcwd() + "/parsed_data/world/"
path = path.replace("/",os.path.sep)
#save data as CSV 

GDP.to_csv(path + "GDP.csv", index = True, header=True)
Population_csv.to_csv(path + "Population.csv", index = True, header=True)
lockdown.to_csv(path + "Lockdown.csv", index = True, header=True)